<!DOCTYPE html>
	<html>
		<head>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="../css/social-circles.min.css">

		</head>
		
		<body style="background-color: #F0FFFF;"> <!-- #F0FFF0 #FFF8DC -->
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/reading">Reading</a></li>
				<li><a href="/code">Codes</a></li>
				<li><a href="/about">Economists</a></li>
			        <li><a href="/blog">Fortune</a></li>
			        <li><a href="/cv">Bio</a></li>
	    		</ul>
			</nav>
			<hr size="3" width="100%" color="gray">  
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<a class="icon-twitter social-button borderless static" href="https://weibo.com/dengyfman0616"></a>
				<a class="icon-github social-button borderless static" href="http://github.com/idengyf"></a>
				<a class="icon-medium social-button borderless static" href="https://weibo.com/dengyfman0616"></a>
				<a class="icon-linkedin social-button borderless static" href="https://weibo.com/dengyfman0616"></a>
				<a class="icon-quora social-button borderless static" href="https://weibo.com/dengyfman0616"></a>
				</ul>
          <hr size="3" width="100%" color="gray">  
	<div class="blurb">
	<h3 style="color:#CD5C5C"> Contact Information </h3>
	  <ul>
	 <li style="color: gray">Email: dengyf@zufe.edu.cn</li>
         <li style="color: gray">Office: #6208A, School of Economics, zufe</li>
         <li style="color: gray">Address: Hangzhou City, Zhejiang Province, P.C.310018, China © 2023</li>
	  </ul> 
         </div><!-- /.blurb -->
			</footer>
		</body>
	</html>
